[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pydantic = {extras = ["dotenv"], version = "*"}
python-dotenv = "*"
mongoengine = "*"
my = "*"
params = "*"

[dev-packages]
pylint = "*"
aiogram = "*"
python-telegram-bot = "*"

[requires]
python_version = "3.10"
